.App {
  margin: 1rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: salmon;
  text-align: center;
  /* border: 3px solid blue;
  border-radius: 10%; */
  outline: 5px solid indianred;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
